<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farcaster Search Results</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" href="/img/search-logo.png">
  <link rel="icon" href="/img/favicon-16.png" sizes="16x16" />
  <link rel="icon" href="/img/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="/img/favicon-64.png" sizes="64x64" />
  <link rel="icon" href="/img/favicon-96.png" sizes="96x96" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EDX4BE3BNW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EDX4BE3BNW');
  </script>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="header-flex mb-2">
        <img class="logo" src="/img/logo.png" width="48" alt="Farcaster logo">
        <h1>Search Results</h1>
      </div>
      <a href="/">Return home</a>
    </div>
    <div class="filters">
      <details>
        <summary class="filters__title">Filters</summary>
        <div class="filters__content">
          <form class="filters__text">
            <label for="text">Text:</label>
            <div class="input-group">
              <input type="text" name="text" value="<%= searchTerm %>" placeholder="It's time to Farcast">
              <input type="submit" value="Search">
            </div>
          </form>
          <form class="filters__username">
            <label for="username">Username:</label>
            <div class="input-group">
              <input type="text" name="username" value="<%= searchUsername %>" placeholder="gregskril">
              <input type="submit" value="Search">
            </div>
          </form>
        </div>
      </details>
    </div>
    <% if (casts && casts.length > 0) { %>
      <div class="casts">
        <% casts.forEach(cast => { %>
          <div class="cast" data-reply="<%= cast.replyParent ? true : false %>">
            <div class="cast__body">
              <div class="cast__author">
                <% if (cast.meta.avatar) { %>
                  <img class="cast__avatar" src="<%= cast.meta.avatar %>" alt="">
                <% } %>
                <div class="cast__names">
                  <% if (cast.meta.displayName) { %>
                    <span class="cast__display-name"><%= cast.meta.displayName %></span>
                  <% } %>
                  <a href="/search?username=<%= cast.body.username %>" class="cast__username">@<%= cast.body.username %></a>
                </div>
              </div>
              <span class="cast__date">
                <%= new Date(cast.body.publishedAt).toLocaleDateString() %>
              </span>
              <p class="cast__text"><%= cast.body.data.text %></p>
              <% if (cast.body.data.image) { %>
                <a class="cast__attachment-link" href="<%= cast.body.data.image %>" target="_blank">
                  <img class="cast__attachment" src="<%= cast.body.data.image %>" loading="lazy" alt="">
                </a>
              <% } %>
            </div>
            <% if (cast.body.data.replyParentMerkleRoot) { %>
              <div class="cast__meta">
                <!-- <a class="cast__link" href="<%= cast.uri %>">Open in Farcaster</a> -->
                <span class="cast__reply">In reply to <a href="/search?merkleRoot=<%=cast.body.data.replyParentMerkleRoot%>">@<%= cast.meta.replyParentUsername.username %></a></span>
              </div>
            <% } %>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p>No results found.</p>
    <% } %>
  </div>

  <script>
    const searchTerm = `<%- searchTerm %>` || null
    const searchUsername = '<%= searchUsername %>' || null
    const searchMerkle = '<%= searchMerkle %>' || null

    // Format cast text
    document.querySelectorAll('.cast__text').forEach(function(el) {
      // Turn URLs into links
      el.innerHTML = el.innerHTML.replace(/(https?:\/\/[^\s]+)(\s|$)/g, '<a href="$1" target="_blank">$1</a>$2')

      // Link to @username
      el.innerHTML = el.innerHTML.replace(/@([a-zA-Z0-9_]+)/g, '<a href="/search?username=$1">@$1</a>')
      
      // Bold the search term
      el.innerHTML = el.innerHTML.replace(new RegExp(searchTerm, 'gi'), '<b>' + searchTerm + '</b>')
    })

    // Format cast replies
    if (searchMerkle) {
      const castParent = document.querySelectorAll('.cast')[0]
      
      const repliesMsg = document.createElement('p')
      repliesMsg.classList.add('cast--replies-msg')
      repliesMsg.innerHTML = 'Direct replies:'
      castParent.parentNode.insertBefore(repliesMsg, castParent.nextSibling)
    }

    // Handle text filter
    document.querySelector('.filters__text').addEventListener('submit', function(e) {
      e.preventDefault()
      console.log('submitted')
      let queryParam = []
      if (searchUsername) {
        queryParam.push('username=' + searchUsername)
      }
      if (e.target.text.value) {
        queryParam.push('text=' + e.target.text.value)
      }

      window.location.href = '/search?' + queryParam.join('&')
    })

    // Handle username filter
    document.querySelector('.filters__username').addEventListener('submit', function(e) {
      e.preventDefault()
      let queryParam = []
      if (searchTerm) {
        queryParam.push('text=' + searchTerm)
      }
      if (e.target.username.value) {
        queryParam.push('username=' + e.target.username.value)
      }

      window.location.href = '/search?' + queryParam.join('&')
    })
  </script>
</body>
</html>