<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farcaster Search</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" href="/img/search-logo.png">
  <link rel="icon" href="/img/favicon-16.png" sizes="16x16" />
  <link rel="icon" href="/img/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="/img/favicon-64.png" sizes="64x64" />
  <link rel="icon" href="/img/favicon-96.png" sizes="96x96" />
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="header-flex mb-2">
        <img class="logo" src="/img/logo.png" width="48" alt="Farcaster logo">
        <h1>Search Results</h1>
      </div>
      <a href="/">Return home</a>
    </div>
    <% if (casts && casts.length > 0) { %>
      <div class="casts">
        <% casts.forEach(cast => { %>
          <div class="cast" data-reply="<%= cast.replyParent ? true : false %>">
            <div class="cast__body">
              <div class="cast__author">
                <% if (cast.avatar) { %>
                  <img class="cast__avatar" src="<%= cast.avatar %>" alt="<%= cast.displayName %>">
                <% } %>
                <div class="cast__names">
                  <% if (cast.displayName) { %>
                    <span class="cast__display-name"><%= cast.displayName %></span>
                  <% } %>
                  <span class="cast__username">@<%= cast.username %></span>
                </div>
              </div>
              <span class="cast__date">
                <%= new Date(cast.publishedAt).toLocaleDateString() %>
              </span>
              <p class="cast__text"><%= cast.text %></p>
              <% if (cast.attachment) { %>
                <a class="cast__attachment-link" href="<%= cast.attachment %>" target="_blank">
                  <img class="cast__attachment" src="<%= cast.attachment %>" loading="lazy" alt="">
                </a>
              <% } %>
            </div>
            <% if (cast.replyParent) { %>
              <div class="cast__meta">
                <!-- <a class="cast__link" href="<%= cast.uri %>">Open in Farcaster</a> -->
                <form action="/search" method="POST">
                  <input type="hidden" name="query" value="<%= cast.replyParent %>">
                  <input type="hidden" name="queryField" value="replyParent">
                  <span class="cast__reply">In reply to <button class="link" type="submit">@<%= cast.replyParentUsername %></button></span>
                </form>
              </div>
            <% } %>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p>No results found.</p>
    <% } %>
  </div>

  <script>
    // Identify URLs and turn them into links
    document.querySelectorAll('.cast__text').forEach(function(el) {
      el.innerHTML = el.innerHTML.replace(/(https?:\/\/[^\s]+)(\s|$)/g, '<a href="$1" target="_blank">$1</a>$2');
    });

  </script>
</body>
</html>