<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farcaster Search Results</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" href="/img/search-logo.png">
  <link rel="icon" href="/img/favicon-16.png" sizes="16x16" />
  <link rel="icon" href="/img/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="/img/favicon-64.png" sizes="64x64" />
  <link rel="icon" href="/img/favicon-96.png" sizes="96x96" />
  <meta property="og:image" content="https://searchcaster.xyz/img/opengraph.png" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EDX4BE3BNW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EDX4BE3BNW');
  </script>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="header-flex mb-2 <%= page > 1 ? 'header--pagination' : null %>">
        <img class="logo" src="/img/logo.png" width="48" alt="Farcaster logo">
        <h1>Search Results
          <% if (page > 1) { %>
            <span class="title__page-number">Page <%= page %></span>
          <% } %>
        </h1>
      </div>
      <a href="/">Return home</a>
    </div>
    <div class="filters">
      <details>
        <summary class="filters__title">Filters</summary>
        <div class="filters__content">
          <form class="filters__text">
            <label for="text">Text:</label>
            <div class="input-group">
              <input type="text" name="text" value="<%= searchTerm %>" placeholder="It's time to Farcast">
              <input type="submit" value="Search">
            </div>
          </form>
          <form class="filters__username">
            <label for="username">Username:</label>
            <div class="input-group">
              <input type="text" name="username" value="<%= searchUsername %>" placeholder="gregskril">
              <input type="submit" value="Search">
            </div>
          </form>
        </div>
      </details>
    </div>
    <% if (casts && casts.length > 0) { %>
      <div class="casts">
        <% casts.forEach(cast => { %>
          <div class="cast" data-reply="<%= cast.replyParent ? true : false %>">
            <div class="cast__body">
              <div class="cast__author">
                <% if (cast.meta.avatar) { %>
                  <img class="cast__avatar" src="<%= cast.meta.avatar %>" alt="">
                <% } %>
                <div class="cast__names">
                  <% if (cast.meta.displayName) { %>
                    <span class="cast__display-name"><%= cast.meta.displayName %></span>
                  <% } %>
                  <a href="/search?username=<%= cast.body.username %>" class="cast__username">@<%= cast.body.username %></a>
                </div>
              </div>
              <span class="cast__date">
                <%= new Date(cast.body.publishedAt).toLocaleDateString() %>
              </span>
              <p class="cast__text"><%= cast.body.data.text %></p>
              <% if (cast.body.data.image) { %>
                <a class="cast__attachment-link" href="<%= cast.body.data.image %>" target="_blank">
                  <img class="cast__attachment" src="<%= cast.body.data.image %>" loading="lazy" alt="">
                </a>
              <% } %>

              <div class="cast__engagement">
                <div>
                  <svg aria-hidden="true" role="img" class="octicon octicon-comment" viewBox="0 0 16 16" width="14" height="14" fill="currentColor"><path fill-rule="evenodd" d="M2.75 2.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 01.75.75v2.19l2.72-2.72a.75.75 0 01.53-.22h4.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25H2.75zM1 2.75C1 1.784 1.784 1 2.75 1h10.5c.966 0 1.75.784 1.75 1.75v7.5A1.75 1.75 0 0113.25 12H9.06l-2.573 2.573A1.457 1.457 0 014 13.543V12H2.75A1.75 1.75 0 011 10.25v-7.5z"></path></svg>
                  <span><%= cast.meta.reactions.count %></span>
                </div>
                <div>
                  <svg aria-hidden="true" role="img" class="octicon octicon-sync" viewBox="0 0 16 16" width="14" height="14" fill="currentColor"><path fill-rule="evenodd" d="M8 2.5a5.487 5.487 0 00-4.131 1.869l1.204 1.204A.25.25 0 014.896 6H1.25A.25.25 0 011 5.75V2.104a.25.25 0 01.427-.177l1.38 1.38A7.001 7.001 0 0114.95 7.16a.75.75 0 11-1.49.178A5.501 5.501 0 008 2.5zM1.705 8.005a.75.75 0 01.834.656 5.501 5.501 0 009.592 2.97l-1.204-1.204a.25.25 0 01.177-.427h3.646a.25.25 0 01.25.25v3.646a.25.25 0 01-.427.177l-1.38-1.38A7.001 7.001 0 011.05 8.84a.75.75 0 01.656-.834z"></path></svg>
                  <span><%= cast.meta.recasts.count %></span>
                </div>
              </div>
            </div>
            
            <div class="cast__meta">
              <% if (!cast.body.data.replyParentMerkleRoot) { %>
                <a class="cast__link" href="<%= cast.uri %>">Open in Farcaster</a>
              <% } else { %>
                <span class="cast__reply">In reply to <a href="/search?merkleRoot=<%=cast.body.data.replyParentMerkleRoot%>">@<%= cast.meta.replyParentUsername.username %></a></span>
              <% } %>
              <a class="cast__reply--children" href="/search?merkleRoot=<%=cast.merkleRoot%>">See replies</a>
            </div>
          </div>
        <% }) %>
      </div>

      <% if (casts.length === count || (page > 1)) { %>
        <div class="pagination">
          <% if (page > 1) { %>
            <button class="pagination__btn" data-pagination="-1">← Previous page</button>
          <% } %>
          <% if (casts.length === count) { %>
            <button class="pagination__btn" data-pagination="+1">Next page →</button>
          <% } %>
        </div>
      <% } %>
    <% } else { %>
      <p>No results found.</p>
    <% } %>
  </div>

  <script>
    const searchTerm = `<%- searchTerm %>` || null
    const searchUsername = '<%= searchUsername %>' || null
    const searchMerkle = '<%= searchMerkle %>' || null
    const currentPage = parseInt('<%= page %>')

    // Format cast text
    document.querySelectorAll('.cast__text').forEach(function(el) {
      // Turn URLs into links
      el.innerHTML = el.innerHTML.replace(/(https?:\/\/[^\s]+)(\s|$)/g, '<a href="$1" target="_blank">$1</a>$2')

      // Link to @username
      el.innerHTML = el.innerHTML.replace(/@([a-zA-Z0-9_]+)/g, '<a href="/search?username=$1">@$1</a>')
      
      // Bold the search term
      el.innerHTML = el.innerHTML.replace(new RegExp(searchTerm, 'gi'), '<b>' + searchTerm + '</b>')
      
      // Remove bold tag from links
      const links = el.querySelectorAll('a')
      links.forEach(function(link) {
        link.href = link.href.replace('%3Cb%3E', '').replace('%3C/b%3E', '')
      })
    })

    // Format cast replies
    if (searchMerkle) {
      const castParent = document.querySelectorAll('.cast')[0]
      const numberOfCasts = document.querySelectorAll('.cast').length
      
      const repliesMsg = document.createElement('p')
      repliesMsg.classList.add('cast--replies-msg')
      if (numberOfCasts <=1 ) {
        repliesMsg.innerHTML = 'No direct replies'
      } else {
        repliesMsg.innerHTML = 'Direct replies:'
      }
      castParent.parentNode.insertBefore(repliesMsg, castParent.nextSibling)
    }

    // Remove "see replies" link if already on the page
    if (searchMerkle) {
      const seeRepliesLink = document.querySelector('.cast:first-child .cast__reply--children')
      seeRepliesLink.remove()
    }

    // Pagination
    document.querySelectorAll('.pagination__btn').forEach(function(el) {
      el.addEventListener('click', function(e) {
        const page = parseInt(e.target.dataset.pagination)
        const newPage = currentPage + page
        const currentUrl = new URL(window.location.href)
        currentUrl.searchParams.set('page', newPage)
        window.location.href = currentUrl.href
      })
    })

    // Handle text filter
    document.querySelector('.filters__text').addEventListener('submit', function(e) {
      e.preventDefault()
      console.log('submitted')
      let queryParam = []
      if (searchUsername) {
        queryParam.push('username=' + searchUsername)
      }
      if (e.target.text.value) {
        queryParam.push('text=' + e.target.text.value.replace(/#/g, '%23'))
      }

      window.location.href = '/search?' + queryParam.join('&')
    })

    // Handle username filter
    document.querySelector('.filters__username').addEventListener('submit', function(e) {
      e.preventDefault()
      let queryParam = []
      if (searchTerm) {
        queryParam.push('text=' + searchTerm.replace(/#/g, '%23'))
      }
      if (e.target.username.value) {
        queryParam.push('username=' + e.target.username.value)
      }

      window.location.href = '/search?' + queryParam.join('&')
    })
  </script>
</body>
</html>